@model HomepageContext
@using Humanizer
<div style="display: flex;align-items: center;justify-content: center">
	<h1 style="color:var(--text-primary);text-align:center;height:10%">@Configuration.RandomMessage()</h1>
</div>
@if (Model.Videos is not null)
{
	<div class="renderer-gridrenderer">
		@foreach (FeedVideo video in Model.Videos)
		{
			<div class="renderer-gridvideorenderer">
				<a href="/watch?v=@video.Id"  class="grid-thumbnail">
					<img loading="lazy" src="@video.Thumbnail" alt="@video.Title">
				</a>
				<div class="info">
					<a href="/watch?v=@video.Id" class="ml-2 title" title="@video.Title">
						@video.Title
					</a>
					<div class="info__channel">
						<a href="/channel/@video.ChannelId" title="@video.ChannelName" class="ml-1">
							@video.ChannelName
						</a>
					</div>
					<div>
						@Model.Localization.FormatString("video.subtitle", video.ViewCount.ToString("N0"), video.PublishedDate.Humanize(DateTimeOffset.UtcNow, Model.Localization.GetCulture()))
					</div>
				</div>
			</div>
		}
	</div>
}
