@model BaseContext

@{
	Model.Title = Model.Localization.GetRawString("rss.title");
}

<h1 class="title">@Model.Localization.GetString("rss.explain.title")</h1>

<p>@Model.Localization.GetString("rss.explain.title")</p>

<table>
	<tbody>
		<tr>
			<th class="title">
				@Model.Localization.GetString("rss.explain.url")
			</th>
			<td>
				<code>https://@Context.Request.Host/feed/rss.xml</code>
			</td>
		</tr>
		<tr>
			<th class="title">
				@Model.Localization.GetString("rss.explain.username")
			</th>
			<td>
				@if (Model.User is not null) {
					<code>@Model.User.UserID</code>
				}
				else
				{
					@Model.Localization.GetString("rss.explain.username.explain")
				}
			</td>
		</tr>
		<tr>
			<th class="title">
				@Model.Localization.GetString("rss.explain.password")
			</th>
			<td>
				@Model.Localization.GetString("rss.explain.password.explain")
			</td>
		</tr>
	</tbody>
</table>

<p>@Model.Localization.GetString("rss.explain.authentication")</p>

@if (Model.User is not null) {
	<code>https://@Model.User.UserID:&lt;@Model.Localization.GetString("rss.explain.password.url")&gt;@@@Context.Request.Host/feed/rss.xml</code>
}
else
{
	<code>https://&lt;@Model.Localization.GetString("rss.explain.username.url")&gt;:&lt;@Model.Localization.GetString("rss.explain.password.url")&gt;@@@Context.Request.Host/feed/rss.xml</code>
}