@using LightTube.Database.Models
@model ChannelsContext

@{
	Model.Title = Model.Localization.GetRawString("feed.subscriptions.title");
}

<form class="search-container" method="post">
	<input type="submit" class="btn-outline btn-blue" style="width:fit-content;" value="@Model.Localization.GetString("feed.subscriptions.apply")">

	@foreach (DatabaseChannel? channel in Model.Channels)
	{
		if (channel != null) {
			<div class="renderer-channelrenderer">
				<a href="/channel/@channel.ChannelId" class="channel-avatar">
					<img loading="lazy" src="@channel.IconUrl" alt="@channel.Name">
				</a>
				<div class="info">
					<a href="/channel/@channel.ChannelId" class="title ml-2" title="@channel.Name">
						@channel.Name
					</a>
					<div class="info__more">
						@channel.Subscribers
					</div>
				</div>
				<div class="subscribe-container">
					<select name="@channel.ChannelId" class="subscription-dropdown">
						@switch (Model.User!.Subscriptions.TryGetValue(channel.ChannelId, out SubscriptionType t) ? t : SubscriptionType.NONE)
						{
							case SubscriptionType.NONE:
								<option value="0" selected>@Model.Localization.GetString("subscription.state.0")</option>
								<option value="1">@Model.Localization.GetString("subscription.state.1")</option>
								<option value="2">@Model.Localization.GetString("subscription.state.2")</option>
								break;
							case SubscriptionType.NOTIFICATIONS_OFF:
								<option value="0">@Model.Localization.GetString("subscription.state.0")</option>
								<option value="1" selected>@Model.Localization.GetString("subscription.state.1")</option>
								<option value="2">@Model.Localization.GetString("subscription.state.2")</option>
								break;
							case SubscriptionType.NOTIFICATIONS_ON:
								<option value="0">@Model.Localization.GetString("subscription.state.0")</option>
								<option value="1">@Model.Localization.GetString("subscription.state.1")</option>
								<option value="2" selected>@Model.Localization.GetString("subscription.state.2")</option>
								break;
						}
					</select>
				</div>
			</div>
		}
	}
</form>