@using LightTube.Database.Models
@model PlaylistVideoContext<IEnumerable<DatabasePlaylist>>

@{
	Layout = "_ModalLayout";
}

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("playlist.edit.label.title")
		</div>
	</div>
	<div class="settings-option__option">
		<input type="text" name="title" value="@Model.ItemTitle">
	</div>
</div>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("playlist.edit.label.description")
		</div>
	</div>
	<div class="settings-option__option">
		<input type="text" name="description" value="@Model.ItemSubtitle">
	</div>
</div>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("playlist.edit.label.visibility")
		</div>
	</div>
	<div class="settings-option__option">
		<select name="visibility">
			@switch (Model.ItemThumbnail)
			{
				case "2":
					<option value="2" selected>@Model.Localization.GetString("playlist.visibility.2")</option>
					<option value="1">@Model.Localization.GetString("playlist.visibility.1")</option>
					<option value="0">@Model.Localization.GetString("playlist.visibility.0")</option>
					break;
				case "0":
					<option value="2">@Model.Localization.GetString("playlist.visibility.2")</option>
					<option value="1">@Model.Localization.GetString("playlist.visibility.1")</option>
					<option value="0" selected>@Model.Localization.GetString("playlist.visibility.0")</option>
					break;
				default:
				case "1":
					<option value="2">@Model.Localization.GetString("playlist.visibility.2")</option>
					<option value="1" selected>@Model.Localization.GetString("playlist.visibility.1")</option>
					<option value="0">@Model.Localization.GetString("playlist.visibility.0")</option>
					break;
			}
		</select>
	</div>
</div>

<input style="display:none;" name="id" value="@Model.ItemId">