@model ModalContext

@{
	Layout = "_ModalLayout";
}

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("playlist.edit.label.title")
		</div>
	</div>
	<div class="settings-option__option">
		<input type="text" name="title">
	</div>
</div>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("playlist.edit.label.description")
		</div>
	</div>
	<div class="settings-option__option">
		<input type="text" name="description">
	</div>
</div>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("playlist.edit.label.visibility")
		</div>
	</div>
	<div class="settings-option__option">
		<select name="visibility">
			<option value="1">@Model.Localization.GetString("playlist.visibility.1")</option>
			<option value="2">@Model.Localization.GetString("playlist.visibility.2")</option>
			<option value="0">@Model.Localization.GetString("playlist.visibility.0")</option>
		</select>
	</div>
</div>

<input style="display:none;" name="firstVideo" value="@Model.Buttons[0].Label">