@model AppearanceSettingsContext

@{
	Layout = "_SettingsLayout";
	Model.Title = Model.Localization.GetRawString("settings.appearance.title");
}

<h1 class="title">@Model.Localization.GetString("settings.appearance.interface")</h1>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("settings.appearance.theme.title")
		</div>
		<div>
			@Model.Localization.GetString("settings.appearance.theme.subtitle")
		</div>
	</div>
	<div class="settings-option__option">
		<select name="theme" class="subscription-dropdown">
			<option disabled>@Model.Localization.GetString("settings.appearance.theme.builtin")</option>
			@foreach ((string className, string name) in Model.BuiltinThemes)
			{
				@if (Model.GetThemeClass() == $"theme-{className}")
				{
					<option value="@className" selected>@name</option>
				}
				else
				{
					<option value="@className">@name</option>
				}
			}
			@if (Model.CustomThemes.Count > 0)
			{
				<option disabled>@Model.Localization.GetString("settings.appearance.theme.custom")</option>
				@foreach ((string className, string name) in Model.CustomThemes)
				{
					@if (Model.GetThemeClass() == $"theme-{className}")
					{
						<option value="@className" selected>@name</option>
					}
					else
					{
						<option value="@className">@name</option>
					}
				}
			}
		</select>
	</div>
</div>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("settings.appearance.homescreensubs.title")
		</div>
		<div>
			@Model.Localization.GetString("settings.appearance.homescreensubs.subtitle")
		</div>
	</div>
	<div class="settings-option__option">
		<input type="number" name="maxvideos" value="@(Context.Request.Cookies["maxvideos"] is null ? "5":Context.Request.Cookies["maxvideos"])" />
	</div>
</div>

<h1 class="title">Content Settings</h1>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-1 title">
			@Model.Localization.GetString("settings.appearance.innertube.language.title")
		</div>
		<div>
			@Model.Localization.GetString("settings.appearance.innertube.language.subtitle")
		</div>
	</div>
	<div class="settings-option__option">
		<select name="hl" class="subscription-dropdown">
			@foreach ((string id, string label) in Model.Locals.Languages)
			{
				@if (id == Context.GetLanguage())
				{
					<option value="@id" selected>@label</option>
				}
				else
				{
					<option value="@id">@label</option>
				}
			}
		</select>
	</div>
</div>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-1 title">
			@Model.Localization.GetString("settings.appearance.innertube.region.title")
		</div>
		<div>
			@Model.Localization.GetString("settings.appearance.innertube.region.subtitle")
		</div>
	</div>
	<div class="settings-option__option">
		<select name="gl" class="subscription-dropdown">
			@foreach ((string id, string label) in Model.Locals.Regions)
			{
				@if (id == Context.GetRegion())
				{
					<option value="@id" selected>@label</option>
				}
				else
				{
					<option value="@id">@label</option>
				}
			}
		</select>
	</div>
</div>

<label class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("settings.appearance.recommendations.title")
		</div>
		<div>
			@Model.Localization.GetString("settings.appearance.recommendations.subtitle")
		</div>
	</div>
	<div class="settings-option__option">
		@if (Context.GetDefaultRecommendationsVisibility())
		{
			<input type="checkbox" name="recommendations" checked>
		}
		else
		{
			<input type="checkbox" name="recommendations">
		}
	</div>
</label>

<label class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("settings.appearance.compatibility.title")
		</div>
		<div>
			@Model.Localization.GetString("settings.appearance.compatibility.subtitle")
		</div>
	</div>
	<div class="settings-option__option">
		@if (Context.GetDefaultCompatibility())
		{
			<input type="checkbox" name="compatibility" checked>
		}
		else
		{
			<input type="checkbox" name="compatibility">
		}
	</div>
</label>
<br>
<input type="submit" class="btn-outline btn-blue" style="width:fit-content;" value="@Model.Localization.GetString("settings.save")">