@model AppearanceSettingsContext

@{
	Layout = "_SettingsLayout";
	Model.Title = "Appearance settings";
}

<h1 class="title">Theme</h1>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			Theme
		</div>
		<div>
			Change how LightTube looks like!
		</div>
	</div>
	<div class="settings-option__option">
		<select name="theme" class="subscription-dropdown">
			<option disabled>Built-in</option>
			@foreach ((string className, string name) in Model.BuiltinThemes)
			{
				@if (Model.GetThemeClass() == $"theme-{className}")
				{
					<option value="@className" selected>@name</option>
				}
				else
				{
					<option value="@className">@name</option>
				}
			}
			@if (Model.CustomThemes.Count > 0)
			{
				<option disabled>Custom</option>
				@foreach ((string className, string name) in Model.CustomThemes)
				{
					@if (Model.GetThemeClass() == $"theme-{className}")
					{
						<option value="@className" selected>@name</option>
					}
					else
					{
						<option value="@className">@name</option>
					}
				}
			}
		</select>
	</div>
</div>

<h1 class="title">Content Settings</h1>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-1 title">
			Content Language
		</div>
		<div>
			Only affects video title & descriptions
		</div>
	</div>
	<div class="settings-option__option">
		<select name="hl" class="subscription-dropdown">
			@foreach ((string id, string label) in Model.Locals.Languages)
			{
				@if (id == Context.GetLanguage())
				{
					<option value="@id" selected>@label</option>
				}
				else
				{
					<option value="@id">@label</option>
				}
			}
		</select>
	</div>
</div>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			Content Region
		</div>
		<div>
			Affects the recommended content
		</div>
	</div>
	<div class="settings-option__option">
		<select name="gl" class="subscription-dropdown">
			@foreach ((string id, string label) in Model.Locals.Regions)
			{
				@if (id == Context.GetRegion())
				{
					<option value="@id" selected>@label</option>
				}
				else
				{
					<option value="@id">@label</option>
				}
			}
		</select>
	</div>
</div>

<label class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			Show Recommended Videos By Default
		</div>
		<div>
			If unchecked, recommendations will be collapsed by default
		</div>
	</div>
	<div class="settings-option__option">
		@if (Context.GetDefaultRecommendationsVisibility())
		{
			<input type="checkbox" name="recommendations" checked>
		}
		else
		{
			<input type="checkbox" name="recommendations">
		}
	</div>
</label>
<br>
<input type="submit" class="btn-outline btn-blue" style="width:fit-content;" value="Save Changes">