@model ImportContext

@{
	Layout = "_SettingsLayout";
	Model.Title = Model.Localization.GetRawString("settings.import.htmltitle");
}

@if (Model.Message != null)
{
	<div class="renderer-null" style="@(Model.IsError ? "border-color: #f00" : "")">
		@Html.Raw(Model.Message.Replace("\n", "<br>"))
	</div>
}

<h1 class="title">@Model.Localization.GetString("settings.import.title")</h1>

<div class="settings-option">
	<div class="settings-option__info">
		<div class="ml-2 title">
			@Model.Localization.GetString("settings.import.file.title")
		</div>
		<div>
			@Model.Localization.GetString("settings.import.file.subtitle")
		</div>
	</div>
	<div class="settings-option__option">
		<input class="input-file" id="file" name="file" type="file"/>
	</div>
</div>
<br/>
<input class="btn-outline btn-blue" type="submit" value="@Model.Localization.GetString("settings.import.button")"/>

<h1 class="title">@Model.Localization.GetString("settings.import.export.title")</h1>
<a href="/export/fullData.json" class="btn-blue btn-outline">@Model.Localization.GetString("settings.import.export.json")</a>

<h1 class="title">@Model.Localization.GetString("settings.import.supported.title")</h1>
<ul>
	@Model.Localization.GetString("settings.import.supported.body")
</ul>
<p>
	@Model.Localization.GetString("settings.import.supported.more")
</p>