<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta property="og:site_name" content="lighttube" />
	<meta property="og:type" content="website" />
	@if (ViewBag.Metadata is not null)
	{
		@foreach (KeyValuePair<string, string> metaTag in ViewBag.Metadata)
		{
			if (metaTag.Key.StartsWith("og:"))
			{
				<meta property="@metaTag.Key" content="@metaTag.Value"/>
			}
			else
			{
				<meta name="@metaTag.Key" content="@metaTag.Value"/>
			}
		}
	}
	<meta property="theme-color" content="#AA0000" />
	<title>@ViewData["Title"] - lighttube</title>
	@if ((ViewData["DisableOldCss"] ?? false).Equals(false))
	{
		<link rel="stylesheet" href="~/css/site.css"/>
	}
	@if ((ViewData["HideGuide"] ?? false).Equals(true))
	{
		<style> .guide { display: none !important; } </style>
	}
	<link rel="stylesheet" href="~/css/colors-light.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/css/desktop.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/css/videojs/video-js.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/css/videojs/quality-selector.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/css/videojs/tube.css" asp-append-version="true"/>
	<link rel="icon" href="~/favicon.ico">
</head>
<body>

<div class="top-bar">
	<a class="logo" href="/">light<b>tube</b></a>
	<div class="divider"></div>
	<form action="/results">
		<input type="text" placeholder="Search" name="search_query">
		<input type="submit" value="Search">
	</form>
	<div class="divider"></div>
	<div class="search-button">
		<a class="icon-link" href="/results">
			<img src="/icons/search.svg">
		</a>
	</div>
	<div class="account" tabindex="-1">
		<a class="icon-link" href="/Account">
			<img src="/icons/profile.svg">
		</a>
		<div class="account-menu">
			@Html.Partial("_LoginLogoutPartial")
		</div>
	</div>
</div>

<div class="guide minmode">
	<div class="guide-item @(ViewData["SelectedGuideItem"] as string == "home" ? "active" : "")"><a href="/"><i class="icon"><img src="/icons/home.svg"></i>Home</a></div>
	<div class="guide-item @(ViewData["SelectedGuideItem"] as string == "explore" ? "active" : "")"><a href="/feed/explore"><i class="icon"><img src="/icons/compass.svg"></i>Explore</a></div>
	<div class="guide-item @(ViewData["SelectedGuideItem"] as string == "subs" ? "active" : "")"><a href="/feed/subscriptions"><i class="icon"><img src="/icons/subscriptions.svg"></i>
		Subscriptions</a></div>
	<hr class="hide-on-minmode">
	<p class="hide-on-minmode">
		<a href="https://gitlab.com/kuylar/lighttube/-/blob/master/README.md">About</a>
		<a href="https://gitlab.com/kuylar/lighttube/-/blob/master/OTHERLIBS.md">Licenses</a>
		<a href="https://gitlab.com/kuylar/lighttube">Source code</a>
	</p>
</div>

<div class="app">
	@RenderBody()
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
