<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta property="og:site_name" content="lighttube" />
	<meta property="og:type" content="website" />
	@if (ViewBag.Metadata is not null)
	{
		@foreach (KeyValuePair<string, string> metaTag in ViewBag.Metadata)
		{
			if (metaTag.Key.StartsWith("og:"))
			{
				<meta property="@metaTag.Key" content="@metaTag.Value"/>
			}
			else
			{
				<meta name="@metaTag.Key" content="@metaTag.Value"/>
			}
		}
	}
	<meta property="theme-color" content="#AA0000" />
	<title>@ViewData["Title"] - lighttube</title>
	<link rel="stylesheet" href="~/css/site.css"/>
	<link rel="stylesheet" href="~/css/videojs/video-js.css"/>
	<link rel="stylesheet" href="~/css/videojs/quality-selector.css"/>
	<link rel="stylesheet" href="~/css/videojs/tube.css"/>
	<link rel="icon" href="~/favicon.ico">
</head>
<body>
<header>
	<a href="/" class="logo">light<b>tube</b></a>
	<div class="flex-divider"></div>
	<form method="get" action="/results">
		<input type="text" name="search_query" placeholder="Search...">
		<input type="submit" value="Search">
	</form>
	<div class="flex-divider"></div>
	<div class="user-info">
		@Html.Partial("_LoginLogoutPartial")
	</div>
</header>
<div class="page-container">
@RenderBody()
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>