@model BaseContext

<!DOCTYPE html>
<!--html lang="en" class="dark-mode"-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LightTube</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/lighttube.css">
	<link rel="stylesheet" href="fonts/roboto/roboto.css">
</head>
<body class="@(Model.GuideHidden ? "app-container no-guide" : "app-container")">
<div class="top-bar">
	<a class="logo" href="/">
		Light<b>Tube</b>
		<sup class="hide-on-mobile region" title="InnerTube Content Region">
			@Context.GetRegion()
		</sup>
	</a>
	<div class="flex-divider hide-on-mobile"></div>
	<form action="/results" class="search-bar hide-on-mobile">
		<input class="search-bar__input" type="text" placeholder="Search" name="search_query" value="">
		<button class="search-bar__submit" type="submit">
			<svg class="icon" width="20" height="20" fill="currentColor">
				<use xlink:href="svg/bootstrap-icons.svg#search"/>
			</svg>
		</button>
	</form>
	<div class="flex-divider"></div>
	<div class="account-buttons" style="display: none">
		<a class="icon-button hide-on-desktop" href="/results">
			<svg class="bi" width="20" height="20" fill="currentColor">
				<use xlink:href="svg/bootstrap-icons.svg#search"/>
			</svg>
		</a>
		<a class="icon-button" href="/rss.xml">
			<svg class="bi" width="20" height="20" fill="currentColor">
				<use xlink:href="svg/bootstrap-icons.svg#rss"/>
			</svg>
		</a>
		<div class="icon-button dropdown">
			<input type="checkbox" id="loggedin-dropdown" autocomplete="off">
			<label for="loggedin-dropdown">
				<svg class="bi" width="20" height="20" fill="currentColor">
					<use xlink:href="svg/bootstrap-icons.svg#person-circle"/>
				</svg>
			</label>
			<div class="dropdown__menu" style="right:0">
				<div class="dropdown__item">
					<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="svg/bootstrap-icons.svg#person-circle"/></svg>
					Logged in as: {username}
				</div>
				<div class="dropdown__item">
					<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="svg/bootstrap-icons.svg#box-arrow-right"/></svg>
					Log Out
				</div>
				<hr>
				<div class="dropdown__item">
					<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="svg/bootstrap-icons.svg#moon"/></svg>
					Toggle Theme
				</div>
				<div class="dropdown__item">
					<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="svg/bootstrap-icons.svg#gear"/></svg>
					Content Settings
				</div>
				<hr>
				<div class="dropdown__item">
					<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="svg/bootstrap-icons.svg#info-circle"/></svg>
					About
				</div>
			</div>
		</div>
	</div>
	<div class="account-buttons">
		<a class="icon-button hide-on-desktop" href="/results">
			<svg class="bi" width="20" height="20" fill="currentColor">
				<use xlink:href="svg/bootstrap-icons.svg#search"/>
			</svg>
		</a>
		<div class="icon-button dropdown">
			<input type="checkbox" id="loggedout-dropdown" autocomplete="off">
			<label for="loggedout-dropdown">
				<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="svg/bootstrap-icons.svg#three-dots-vertical"/></svg>
			</label>
			<div class="dropdown__menu" style="right:-100px">
				<div class="dropdown__item">
					<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="svg/bootstrap-icons.svg#moon"/></svg>
					Toggle Theme
				</div>
				<div class="dropdown__item">
					<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="svg/bootstrap-icons.svg#gear"/></svg>
					Content Settings
				</div>
				<hr>
				<div class="dropdown__item">
					<svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="svg/bootstrap-icons.svg#info-circle"/></svg>
					About
				</div>
			</div>
		</div>
		<div class="btn-outline btn-blue">
			<svg class="icon" width="20" height="20" fill="currentColor">
				<use xlink:href="svg/bootstrap-icons.svg#person-circle"/>
			</svg>
			<span class="text">
				Sign in
			</span>
		</div>
	</div>
</div>
<div class="guide">
	<partial name="GuideItem" model="@(new GuideItem("Home", "house", "/", true))"/>
	<partial name="GuideItem" model="@(new GuideItem("Subscriptions", "rss", "/feed/subscriptions", true))"/>
	<hr>
	<partial name="GuideItem" model="@(new GuideItem("Library", "folder", "/feed/library", true))"/>
</div>
<div class="app">
@RenderBody()
</div>
</body>
</html>