@using YTProxy.Models
@model LightTube.Contexts.ChannelContext

@{
	ViewBag.Title = Model.Channel.Name;
	Layout = "_Layout";
}

<h1><b>@Model.Channel.Name</b> - @Model.Channel.Subscribers</h1>

<p>@Html.Raw(Model.Channel.GetHtmlDescription())</p>

<div class="results-container">
	@foreach (VideoPreview video in Model.Channel.Videos)
	{
		<div class="result">
			<div class="thumbnail" style="background-image: url('@video.Thumbnails.Last().Url')">
				<span>@video.Duration</span>
			</div>
			<div class="info">
				<a href="/watch?v=@video.Id" class="title">@video.Title</a>
				<div>
					<span>@video.Views views</span>
					<span>•</span>
					<span>@video.UploadedAt</span>
				</div>
			</div>
		</div>
	}
</div>

<div class="page-controls">
	@if (!string.IsNullOrWhiteSpace(Model.ContinuationToken))
	{
		<a href="/channel?id=@Model.Id">First Page</a>
	}
	<div class="flex-divider"></div>
	<span>•</span>
	<div class="flex-divider"></div>
	@if (!string.IsNullOrWhiteSpace(Model.Channel.ContinuationToken))
	{
		<a href="/channel/@Model.Id&continuation=@Model.Channel.ContinuationToken">Next Page</a>
	}
</div>