@model EmbedContext

@{
	Layout = null;
	Model.Title = Model.Player.Title;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta description="@(Model.Video.Description)"/>
	<meta author="@(Model.Video.Channel.Title)"/>
	<meta og:title="@(Model.Video.Title)"/>
	<meta og:description="@(Model.Video.Description)"/>
	<meta og:url="@($"{Context.Request.Scheme}://{Context.Request.Host}/{Context.Request.Path}{Context.Request.QueryString}")"/>
	<meta og:image="@($"{Context.Request.Scheme}://{Context.Request.Host}/proxy/thumbnail/{Model.Video.Id}/-1")"/>
	<meta og:video:url="@($"https://{Context.Request.Host}/proxy/media/{Model.Video.Id}/18.mp4")"/>
	<meta og:video:width="640"/>
	<meta og:video:height="360"/>
	<meta og:type="video.other"/>
	<meta twitter:card="@($"{Context.Request.Scheme}://{Context.Request.Host}/proxy/thumbnail/{Model.Video.Id}/-1")"/>
	<meta twitter:player="@($"https://{Context.Request.Host}/embed/{Model.Video.Id}")"/>
	<meta twitter:player:stream="@($"https://{Context.Request.Host}/proxy/media/{Model.Video.Id}/18.mp4")"/>
	<link rel="stylesheet" href="/lib/ltplayer.css">
	<title>@Model.Player.Player?.Details.Title - LightTube</title>
	<style>
		video, .ltp-root {
			position: absolute;
			top:  0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
@await Html.PartialAsync("Player", Model.Player)
<script src="/lib/ltplayer.js"></script>
<script src="/lib/hls.js"></script>
<script src="/js/player.js"></script>
</body>
</html>