@using InnerTube.Renderers
@using Microsoft.AspNetCore.Http.Extensions
@model PlaylistContext

@{
	Model.Title = Model.PlaylistTitle;
}

<div class="playlist-page">
	<div class="playlist-page-info">
		<div class="playlist-page-thumbnail">
			<img loading="lazy" src="@Model.PlaylistThumbnail" alt="@Model.PlaylistTitle">
		</div>
		<h1 class="ml-2 title" title="@Model.PlaylistTitle">@Model.PlaylistTitle</h1>
		<a class="playlist-page-channel" href="/channel/@Model.AuthorId" title="@Model.AuthorName">@Model.AuthorName</a>
		<div class="playlist-page-info-data">
			@Model.ViewCountText&nbsp;&nbsp;@Model.LastUpdatedText
			<br><br>
			@Model.PlaylistDescription
		</div>
		@if (Model.Editable)
		{
			<div class="playlist-page-buttons">
				<a href="/editPlaylist?id=@Model.Id" target="_blank" class="icon-button" title="Edit">
					<svg class="icon" width="20" height="20" fill="currentColor">
						<use xlink:href="/svg/bootstrap-icons.svg#pencil"/>
					</svg>
				</a>
				<a href="/deletePlaylist?id=@Model.Id" target="_blank" class="icon-button" title="Delete">
					<svg class="icon" width="20" height="20" fill="currentColor">
						<use xlink:href="/svg/bootstrap-icons.svg#trash"/>
					</svg>
				</a>
			</div>
		}
	</div>
	<div class="playlist-page-items">
		@foreach (IRenderer renderer in Model.Items)
		{
			<partial name="Renderer" model="renderer"/>
		}
	</div>
</div>
<div class="next-page">
	<span></span>
	<span>•</span>
	@if (Model.Continuation is not null)
	{
		<a href="@Utils.GetSkipUrl(Context.Request.GetEncodedPathAndQuery(), Model.Continuation.Value)">Next Page</a>
	}
	else
	{
		<span></span>
	}
</div>