@using InnerTube.Renderers
@model SearchContext

@{
	Model.Title = Model.GetSearchBoxInput()!;
}

<div class="search-container">
@if (Model.Filter != null)
{
	<details>
	<summary class="btn filters-button" style="width:min-content;">
		<svg class="icon" width="20" height="20" fill="currentColor">
			<use xlink:href="/svg/bootstrap-icons.svg#sliders2"/>
		</svg>
		<div class="text">
			Filters
		</div>
	</summary>
	<form class="search-filters__form">
	<input style="display:none" value="@Model.GetSearchBoxInput()" name="search_query"/>
	<div class="search-filters">
	<div class="search-filter">
		<div class="search-filter__category">
			Upload Date
		</div>
		<hr>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasUploadedIn)
			{
				<input type="radio" name="uploadDate" value="null">
			}
			else
			{
				<input type="radio" name="uploadDate" value="null" checked>
			}
			@Model.Localization.GetString("search.filters.uploaddate.clear")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasUploadedIn && Model.Filter.Filters.UploadedIn == SearchFilters.Types.UploadDate.LastHour)
			{
				<input type="radio" name="uploadDate" value="1" checked>
			}
			else
			{
				<input type="radio" name="uploadDate" value="1">
			}
			@Model.Localization.GetString("search.filters.uploaddate.hour")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasUploadedIn && Model.Filter.Filters.UploadedIn == SearchFilters.Types.UploadDate.Today)
			{
				<input type="radio" name="uploadDate" value="2" checked>
			}
			else
			{
				<input type="radio" name="uploadDate" value="2">
			}
			@Model.Localization.GetString("search.filters.uploaddate.day")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasUploadedIn && Model.Filter.Filters.UploadedIn == SearchFilters.Types.UploadDate.ThisWeek)
			{
				<input type="radio" name="uploadDate" value="3" checked>
			}
			else
			{
				<input type="radio" name="uploadDate" value="3">
			}
			@Model.Localization.GetString("search.filters.uploaddate.week")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasUploadedIn && Model.Filter.Filters.UploadedIn == SearchFilters.Types.UploadDate.ThisMonth)
			{
				<input type="radio" name="uploadDate" value="4" checked>
			}
			else
			{
				<input type="radio" name="uploadDate" value="4">
			}
			@Model.Localization.GetString("search.filters.uploaddate.month")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasUploadedIn && Model.Filter.Filters.UploadedIn == SearchFilters.Types.UploadDate.ThisYear)
			{
				<input type="radio" name="uploadDate" value="5" checked>
			}
			else
			{
				<input type="radio" name="uploadDate" value="5">
			}
			@Model.Localization.GetString("search.filters.uploaddate.year")
		</label>
	</div>

	<div class="search-filter">
		<div class="search-filter__category">
			@Model.Localization.GetString("search.filters.category.title")
		</div>
		<hr>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasType)
			{
				<input type="radio" name="type" value="null">
			}
			else
			{
				<input type="radio" name="type" value="null" checked>
			}
			@Model.Localization.GetString("search.filters.category.clear")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasType && Model.Filter.Filters.Type == SearchFilters.Types.ItemType.Video)
			{
				<input type="radio" name="type" value="1" checked>
			}
			else
			{
				<input type="radio" name="type" value="1">
			}
			@Model.Localization.GetString("search.filters.category.video")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasType && Model.Filter.Filters.Type == SearchFilters.Types.ItemType.Channel)
			{
				<input type="radio" name="type" value="2" checked>
			}
			else
			{
				<input type="radio" name="type" value="2">
			}
			@Model.Localization.GetString("search.filters.category.channel")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasType && Model.Filter.Filters.Type == SearchFilters.Types.ItemType.Playlist)
			{
				<input type="radio" name="type" value="3" checked>
			}
			else
			{
				<input type="radio" name="type" value="3">
			}
			@Model.Localization.GetString("search.filters.category.playlist")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasType && Model.Filter.Filters.Type == SearchFilters.Types.ItemType.Movie)
			{
				<input type="radio" name="type" value="4" checked>
			}
			else
			{
				<input type="radio" name="type" value="4">
			}
			@Model.Localization.GetString("search.filters.category.movie")
		</label>
	</div>

	<div class="search-filter">
		<div class="search-filter__category">
			@Model.Localization.GetString("search.filters.duration.title")
		</div>
		<hr>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasDuration)
			{
				<input type="radio" name="duration" value="null">
			}
			else
			{
				<input type="radio" name="duration" value="null" checked>
			}
			@Model.Localization.GetString("search.filters.duration.clear")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasDuration && Model.Filter.Filters.Duration == SearchFilters.Types.VideoDuration.Short)
			{
				<input type="radio" name="duration" value="1" checked>
			}
			else
			{
				<input type="radio" name="duration" value="1">
			}
			@Model.Localization.GetString("search.filters.duration.short")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasDuration && Model.Filter.Filters.Duration == SearchFilters.Types.VideoDuration.Medium)
			{
				<input type="radio" name="duration" value="3" checked>
			}
			else
			{
				<input type="radio" name="duration" value="3">
			}
			@Model.Localization.GetString("search.filters.duration.medium")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasDuration && Model.Filter.Filters.Duration == SearchFilters.Types.VideoDuration.Long)
			{
				<input type="radio" name="duration" value="2" checked>
			}
			else
			{
				<input type="radio" name="duration" value="2">
			}
			@Model.Localization.GetString("search.filters.duration.long")
		</label>
	</div>

	<div class="search-filter">
		<div class="search-filter__category">
			Features
		</div>
		<hr>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasLive) {
				<input type="checkbox" name="live" checked>
			} else {
				<input type="checkbox" name="live">
			}
			@Model.Localization.GetString("search.filters.features.live")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasResolution4K) {
				<input type="checkbox" name="4k" checked>
			} else {
				<input type="checkbox" name="4k">
			}
			@Model.Localization.GetString("search.filters.features.4k")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasHd) {
				<input type="checkbox" name="hd" checked>
			} else {
				<input type="checkbox" name="hd">
			}
			@Model.Localization.GetString("search.filters.features.hd")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasSubtitles) {
				<input type="checkbox" name="subs" checked>
			} else {
				<input type="checkbox" name="subs">
			}
			@Model.Localization.GetString("search.filters.features.subs")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasCreativeCommons) {
				<input type="checkbox" name="cc" checked>
			} else {
				<input type="checkbox" name="cc">
			}
			@Model.Localization.GetString("search.filters.features.cc")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasVr360) {
				<input type="checkbox" name="vr360" checked>
			} else {
				<input type="checkbox" name="vr360">
			}
			@Model.Localization.GetString("search.filters.features.360")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasVr180) {
				<input type="checkbox" name="vr180" checked>
			} else {
				<input type="checkbox" name="vr180">
			}
			@Model.Localization.GetString("search.filters.features.vr180")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasResolution3D) {
				<input type="checkbox" name="3d" checked>
			} else {
				<input type="checkbox" name="3d">
			}
			@Model.Localization.GetString("search.filters.features.3d")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasHdr) {
				<input type="checkbox" name="hdr" checked>
			} else {
				<input type="checkbox" name="hdr">
			}
			@Model.Localization.GetString("search.filters.features.hdr")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasLocation) {
				<input type="checkbox" name="location" checked>
			} else {
				<input type="checkbox" name="location">
			}
			@Model.Localization.GetString("search.filters.features.location")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.Filters.HasPurchased) {
				<input type="checkbox" name="purchased" checked>
			} else {
				<input type="checkbox" name="purchased">
			}
			@Model.Localization.GetString("search.filters.features.purchased")
		</label>
	</div>

	<div class="search-filter">
		<div class="search-filter__category">
			Sort By
		</div>
		<hr>
		<label class="search-filter__item">
			@if (Model.Filter.SortBy == SearchParams.Types.SortField.Relevance)
			{
				<input type="radio" name="sortField" value="0" checked>
			}
			else
			{
				<input type="radio" name="sortField" value="0">
			}
			@Model.Localization.GetString("search.filters.sort.relevance")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.HasSortBy && Model.Filter.SortBy == SearchParams.Types.SortField.UploadDate)
			{
				<input type="radio" name="sortField" value="2" checked>
			}
			else
			{
				<input type="radio" name="sortField" value="2">
			}
			@Model.Localization.GetString("search.filters.sort.date")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.HasSortBy && Model.Filter.SortBy == SearchParams.Types.SortField.ViewCount)
			{
				<input type="radio" name="sortField" value="3" checked>
			}
			else
			{
				<input type="radio" name="sortField" value="3">
			}
			@Model.Localization.GetString("search.filters.sort.views")
		</label>
		<label class="search-filter__item">
			@if (Model.Filter.HasSortBy && Model.Filter.SortBy == SearchParams.Types.SortField.Rating)
			{
				<input type="radio" name="sortField" value="1" checked>
			}
			else
			{
				<input type="radio" name="sortField" value="1">
			}
			@Model.Localization.GetString("search.filters.sort.rating")
		</label>
	</div>
	</div>

	<button type="submit" class="btn filters-button">
		<div class="text">
			@Model.Localization.GetString("search.filters.apply")
		</div>
	</button>
	</form>
	</details>
}
@foreach (IRenderer renderer in Model.Results)
{
	<partial name="Renderer" model="(renderer, Model.Localization)"/>
}
</div>
<div class="next-page">
	@if (Context.Request.Query.ContainsKey("continuation"))
	{
		<a href="/results?search_query=@Model.Query">@Model.Localization.GetString("pagination.first")</a>
	}
	else
	{
		<span></span>
	}
	<span>•</span>
	@if (Model.Continuation is not null)
	{
		<a href="/results?search_query=@Model.Query&continuation=@Model.Continuation">@Model.Localization.GetString("pagination.next")</a>
	}
	else
	{
		<span></span>
	}
</div>