@using InnerTube.Renderers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using InnerTube
@model WatchContext

@{
	Model.Title = Model.Video.Title;
	string desc = Model.Video.Description;
	desc = desc.Replace("youtube.com", Context.Request.Host.ToString());
}

<div class="watch-page">
	<input type="checkbox" id="comments-toggle">
	<div class="player-container" style="color:white;margin-bottom:2rem">
		<partial name="Player" model="Model.Player"/>
		@if (!Model.Player.Player?.Details.IsLive ?? true)
		{
			<noscript>
				<div class="noscript-quality-switcher">
					Current video resolution:
					<b>
						@Model.Player.GetPreferredFormat()?.QualityLabel
					</b>
					Switch to
					@foreach (Format f in Model.Player.Player?.Formats.Where(x => x.Itag != Model.Player.GetFirstItag()) ?? Array.Empty<Format>())
					{
						<b>
							<a href="/watch?v=@Model.Player.Player?.Details.Id&q=@f.Itag">@f.QualityLabel</a>
						</b>
					}
				</div>
			</noscript>
		}
	</div>
	<div class="info-container">
		<div class="ml-2 title">
			@Model.Video.Title
		</div>
		<div class="buttons">
			<div class="interaction-buttons">
				<div class="interaction-button">
					<svg class="icon" width="20" height="20" fill="currentColor">
						<use xlink:href="/svg/bootstrap-icons.svg#hand-thumbs-up"/>
					</svg>
					<div class="interaction-button__text">
						@(Model.Likes == -1 ? "Like" : Model.Likes.ToKMB())
					</div>
				</div>
				<vr></vr>
				<div class="interaction-button">
					<svg class="icon" width="20" height="20" fill="currentColor">
						<use xlink:href="/svg/bootstrap-icons.svg#hand-thumbs-down"/>
					</svg>
					<div class="interaction-button__text">
						@(Model.Dislikes == -1 ? "Dislike" : Model.Dislikes.ToKMB())
					</div>
				</div>
			</div>
			@if (Model.Comments is not null)
			{
				<div class="interaction-buttons hide-on-desktop">
					<label class="interaction-button" for="comments-toggle">
						<svg class="icon" width="20" height="20" fill="currentColor">
							<use xlink:href="/svg/bootstrap-icons.svg#chat-left-text"></use>
						</svg>
						<div class="interaction-button__text">
							Comments
						</div>
					</label>
				</div>
			}
			<div class="interaction-buttons">
				<a class="interaction-button" href="/addToPlaylist?v=@Model.Video.Id" target="_blank">
					<svg class="icon" width="20" height="20" fill="currentColor">
						<use xlink:href="/svg/bootstrap-icons.svg#folder-plus"/>
					</svg>
					<div class="interaction-button__text">
						Save
					</div>
				</a>
			</div>
			<div class="interaction-buttons">
				<a class="interaction-button" href="/download/@Model.Video.Id">
					<svg class="icon" width="20" height="20" fill="currentColor">
						<use xlink:href="/svg/bootstrap-icons.svg#download"/>
					</svg>
					<div class="interaction-button__text">
						Download
					</div>
				</a>
			</div>
			<div class="interaction-buttons">
				<a class="interaction-button" href="https://youtube.com/watch@(Context.Request.QueryString)">
					<svg class="icon" width="20" height="20" fill="currentColor">
						<use xlink:href="/svg/bootstrap-icons.svg#youtube"/>
					</svg>
				</a>
			</div>
		</div>
		<div class="video-channel-info">
			<img loading="lazy"
			     class="avatar"
			     src="@Model.Video.Channel.Avatar"
			     alt="@Model.Video.Channel.Title">
			<div class="video-channel-info__name">
				<a class="ml-1 title" href="/channel/@Model.Video.Channel.Id">@Model.Video.Channel.Title</a>
				<span class="subs">@Model.Video.Channel.Subscribers</span>
			</div>
			<partial name="SubscribeButton" model="Model.Video.Channel.Id"/>
		</div>
		<details class="description">
			<summary>
				@Model.Video.ViewCount • @Model.Video.DateText • Click to toggle description
			</summary>
			@Html.Raw(desc)
		</details>
	</div>
	<div class="comments-container">
		@if (Model.Comments is not null)
		{
			<details>
				<summary>
					<svg class="icon hide-on-desktop" width="32" height="32" fill="currentColor">
						<use class="only-when-closed" xlink:href="/svg/bootstrap-icons.svg#chevron-right"></use>
						<use class="only-when-open" xlink:href="/svg/bootstrap-icons.svg#chevron-down"></use>
					</svg>
					@(Model.Video.CommentCount ?? (Model.Comments.Contents.Count() + (Model.Comments.Continuation != null ? "+" : ""))) comments
					<div class="flex-divider hide-on-desktop"></div>
					<label for="comments-toggle" class="hide-on-desktop">
						<svg class="icon" width="32" height="32" fill="currentColor">
							<use xlink:href="/svg/bootstrap-icons.svg#x"></use>
						</svg>
					</label>
				</summary>
				<div class="comments-container__flex">
					@foreach (IRenderer renderer in Model.Comments.Contents)
					{
						<partial name="Renderer" model="renderer"/>
					}
				</div>
			</details>
		}
		else
		{
			@:Comments are disabled
		}
	</div>
	<div class="second-column">
		@if (Model.Playlist is not null)
		{
			<details class="playlist-view-container" open>
				<summary class="playlist-view__header">
					<a href="/playlist?list=@Model.Playlist.PlaylistId" class="ml-1 title" title="@Model.Playlist.Title">
						@Model.Playlist.Title
					</a>
					<div class="ml-1">@Model.Playlist.Channel.Title • @(Model.Playlist.CurrentIndex + 1) / @Model.Playlist.TotalVideos</div>
				</summary>
				<div class="playlist-view__content">
					@foreach (IRenderer renderer in Model.Playlist.Videos)
					{
						<partial name="Renderer" model="renderer"/>
					}
				</div>
			</details>
		}
		<div class="recommendations-container compact-renderer-list">
			<details @(Context.GetDefaultRecommendationsVisibility() ? "open" : "")>
				<summary>
					Recommended
				</summary>
				<div class="recommended-videos">
					@foreach (IRenderer renderer in Model.Video.Recommended.Where(x => x is not ContinuationItemRenderer))
					{
						<partial name="Renderer" model="renderer"/>
					}
				</div>
			</details>
		</div>
	</div>
</div>
<script>
	const playerContainerElement = document.querySelector(".player-container");
	const playlistContainerElement = document.querySelector(".playlist-view-container");
	const updatePlaylistElementHeight = () => {
		if (!playlistContainerElement.open)
			playlistContainerElement.style.height = "94px";
		else if (window.innerWidth > 1085)
			playlistContainerElement.style.height = playerContainerElement.clientHeight + "px";
		else
			playlistContainerElement.style.height = "unset";
		requestAnimationFrame(() => updatePlaylistElementHeight());
	}
	updatePlaylistElementHeight();
</script>