@using System.Web
@using Microsoft.AspNetCore.Http.Extensions
@model LightTube.Contexts.OAuthContext

@{
	Layout = "_AccountLayout";
}

@if (Model.Error is null)
{
	<p style="text-align:center;color:#555;font-style:italic">
		@Model.Localization.FormatString("oauth2.user", Model.User!.UserID)
	</p>
	<p>
		@Model.Localization.FormatString("oauth2.user", Model.Name)
		<br/><br/>
		@Model.Localization.GetString("oauth2.scopes")
	</p>

	<div class="scope-list">
		@foreach (string scope in Utils.GetScopeDescriptions(Model.Scopes, Model.Localization))
		{
			@if (scope.StartsWith("!"))
			{
				<div class="scope">
					<svg class="icon scope-icon danger" width="24" height="24" fill="red">
						<use xlink:href="/svg/bootstrap-icons.svg#exclamation-circle"/>
					</svg>
					@scope[1..]
				</div>
			}
			else
			{
				<div class="scope">
					<svg class="icon scope-icon" width="24" height="24" fill="green">
						<use xlink:href="/svg/bootstrap-icons.svg#check-circle"/>
					</svg>
					@scope
				</div>
			}
		}
	</div>


	<div class="signin-buttons">
		<a href="/account/logout?redirectUrl=@(HttpUtility.UrlEncode("/account/login?redirectUrl=" + HttpUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery())))" class="signin-button-secondary">@Model.Localization.GetString("oauth2.changeuser")</a>
		<input type="submit" class="signin-button-primary" value="@Model.Localization.GetString("oauth2.authorize")">
	</div>
}