@model AccountContext

@{
	Layout = "_AccountLayout";
	Model.HtmlTitle = Model.Localization.GetRawString("titles.account.register");
}

@if (!Configuration.RegistrationEnabled)
{
	<p>@Model.Localization.GetString("account.register.disabled")</p>	

	<div class="signin-buttons">
		<a href="/" class="signin-button-secondary">@Model.Localization.GetString("account.register.disabled.home")</a>
		<a href="/account/login" class="signin-button-primary" style="text-decoration:none">@Model.Localization.GetString("account.logininstead")</a>
	</div>
}
else
{
	<div class="signin-input-container">
		<input class="text" name="userid" placeholder="@Model.Localization.GetString("account.userid")" value="@Model.UserID">
	</div>

	<div class="signin-input-container">
		<input class="text" name="password" id="password" type="password" placeholder="@Model.Localization.GetString("account.password")">
	</div>

	<div class="signin-input-container">
		<input class="text" name="passwordCheck" type="password" placeholder="@Model.Localization.GetString("account.password.confirm")">
	</div>

	<div class="signin-checkbox" style="display:none;">
		<input id="showpass" type="checkbox">
		<label for="showpass">@Model.Localization.GetString("account.showpassword")</label>
	</div>
	<div class="signin-checkbox">
		<input id="remember" name="remember" type="checkbox">
		<label for="remember">@Model.Localization.GetString("account.rememberme")</label>
	</div>

	<div class="signin-buttons">
		<a href="/account/login" class="signin-button-secondary">@Model.Localization.GetString("account.logininstead")</a>
		<input type="submit" class="signin-button-primary" value="@Model.Localization.GetString("account.signup")">
	</div>
}
